#include "resource.h"

IDD_MAINWND DIALOGEX 0, 0, 245, 85
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | 
    WS_CAPTION | WS_SYSMENU
CAPTION "Performance Test Program"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Instance Number:",IDC_STATIC,7,7,66,10
    LTEXT           "Static",IDC_INSTANCE_NUMBER,75,7,63,12
    GROUPBOX        "Perf1",IDC_STATIC,7,22,231,34
    PUSHBUTTON      "Up",IDC_PERF1_UP,15,34,70,15,BS_FLAT
    PUSHBUTTON      "Down",IDC_PERF1_DOWN,89,34,66,15,BS_FLAT
    DEFPUSHBUTTON   "Close",IDCANCEL,167,62,71,15
END
